@model List<MachineTest.Models.EmployeeModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>ProductId</th>

        <th>ProductName</th>

        <th>CategoryId</th>

        <th>CategoryName</th>

        <th>Action</th>

        <th>Action</th>

        
    </tr>

    @foreach(var item in Model)
            {
<tr>
    <td>@item.ProductId</td>

    <td>@item.ProductName</td>

    <td>@item.CategoryId</td>

    <td>@item.CategoryName</td>


    <td>@Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })</td>


    <td>@Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })</td>



</tr>
            }
</table>

